@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// Primary

$Light-Pink: #ffa399;
$Strong-pink: #ff4d97;

// Neutral

$Pale-Blue: #dddbff;
$Grayish-Blue: #848794;
$Dark-Blue: #1d2c67;
$Very-Dark-Blue: #0c122c;

// Typography

$Font-size: 14px;
$Font-Family: "Raleway", sans-serif;

// Varibales
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
  @content;
}

body {
  font-family: $Font-Family;
  font-size: $Font-size;
  overflow: hidden;
}
.bg {
  background: url("../images/bg-mobile.png") no-repeat fixed 100%;
  background-size: cover;
  min-height: 100vh;
}

main{
  margin: 0 1.2rem;
  @include flex();
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 1.2rem;
}

.top {
  background-color: $Dark-Blue;
  padding: 2rem;
  width: 100%;
  border-radius: 1rem 5rem 1rem 1rem;
  .icons {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
  }
  .icon {
    width: 57px;
    height: 55px;
    padding: 1rem;
    background: hsl(229, 57%, 11%);
    border-radius: 10px;
  }
}
.bottom {
  background-color: #1d2c67;
  border-radius: 1rem;

  width: 100%;
  height: 10rem;

  .sub-container-two {
    padding: 2rem 2rem 0 2rem;
  }

  p {
    font-size: 0.8rem;
    color: $Pale-Blue;
    margin-bottom: 1rem;
    text-align: center;
  }
  .range {
    background-color: #0c122c;
    padding: 0.2rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;

    .primary {
      @include flex();
      justify-content: flex-end;
      border-radius: 100px;
      background-image: linear-gradient(
        to right,
        hsl(6, 100%, 80%),
        hsl(335, 100%, 65%)
      );
      width: 75%;
    }
    .circle {
      border-radius: 100px;
      width: 15px;
      height: 15px;
      background: white;
    }
  }

  .range-labels {
    @include flex();
    justify-content: space-between;
    color: $Pale-Blue;
    font-size: small;
    font-weight: 600;
  }

  footer {
    @include flex();
    font-size: large;
    width: 160px;
    height: 65px;
    background-color: white;
    border-radius: 0.9rem;
    position: relative;
    top: 4rem;
    left: 50%;
    transform: translate(-50%, -50%);

    strong {
      font-size: 2rem;
      padding: 0.5rem;
    }
    span {
      font-size: small;
      font-weight: 800;
      color: $Grayish-Blue;
    }
  }
}

@media (min-width: 675px) {
  body {
    @include flex();
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
  }
  main {
    @include flex();
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    gap: 1.2rem;
    max-height: 30vh;
  }
  html {
    background-color: $Very-Dark-Blue;
  }
  .bg {
    background: url("../images/bg-desktop.png") no-repeat fixed 100% 120%;
    background-size: contain;
  }
  .left {
    margin: 0;
    width: 40%;
    padding: 2rem 3rem;
  }
  .right {
    width: 60%;
    margin: 0;
    padding: 2rem 2rem;
    align-self: flex-end;
    @include flex();

    .sub-container-two {
      width: 100%;
    }

    footer {
      position: absolute;
      top: 39%;
      left: 76%;
      &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-top-color: #fff;
        border-right-color: #fff;
        top: 50px;
        left: 120px;
      }
    }
  }
}
